.btn {
    border-color: #341436 !important;
    background-color: #341436 !important;
    color: #FFFFD9 !important;
}

.btn:hover {
    border-color: #4e1e51 !important;
    background-color: #4e1e51 !important;
}

.correct {
    background-color: green !important;
}
.correct:hover {
    background-color: green !important;
}
.incorrect {
    background-color: red !important;
}
.incorrect:hover {
    background-color: red !important;
}


.boxBack {
    background-color: #16041F;
    padding: 2%;
}

h1, h2, h3, h5, span, th, td {
    color: #FFFFD9;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#boxFinished{
    padding-top: 100px !important;

}

#boxFinishedGlobal {
    padding-bottom: 30% !important;
}
